@import '../../common.scss';
.top-categories{
    margin:0 20%;
    margin-bottom: 3%;
    .categories-listing{
        list-style: none;
        margin: 0;
        padding: 1% 0 2.5%;
        display: flex;
        justify-content: center;
        align-items: center;
        li{
            padding: 2px 8px;
            text-transform: uppercase;
            border-right:2px solid $categorygrey;
            a{
                font-size: 18px;
                font-weight: 500;
                color: $categorygrey;
                line-height: 18px;
                &.active{
                    color: $categoryred;
                }
            }
            &:last-child{
                border: none;
            }
        }
    }
    .slick-slider.slick-initialized{
        width: auto !important;
    }
}
@media screen and (max-width:899px) {
    .top-categories{
        margin:0 5%;
        margin-bottom: 2%;
        .listing-outer{
            padding: 0;
        }
    }
}