body {
    background-color: #181818;
  }
  
  .loader {
    width:  8em;
    height: 8em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    margin: 0px auto;
    overflow: hidden;
    
    &:before {
      content: '';
      display: block;
      width:  100%;
      height: 100%;
      position: absolute;
      background: linear-gradient(to bottom right, #F8E81C, #34D1CE, #C335D9);
      animation: loading 2s linear infinite;
    }
  }
  
  
  @keyframes loading {
    0% {
      transform: translate3d(-7em,-7em,0);
    }
    
    25% {
      transform: translate3d(7em,-7em,0);
    }
    
    50% {
      transform: translate3d(7em,7em,0);
    }
    
    75% {
      transform: translate3d(-7em,7em,0);
    }
    
    100% {
      transform: translate3d(-7em,-7em,0);
    }
  }
  
  @keyframes color {
    0% {
      background-color: #F8E81C;
    }
    
    25% {
      background-color: #34D1CE;
    }
    
    50% {
      background-color: #F8E81C;
    }
    
    75% {
      background-color: #C335D9;
    }
    
    100% {
      background-color: #F8E81C;
    }
  }