.aboutus-content{
    padding: 0 20px;
    .about-banner{
       text-align: center;
       padding: 20px 0 0;
    }
    .banner-content{
        padding: 30px 50px;
        text-align: center;
        font-size: 18px;
        line-height: 24px;
    }
    .grid-content{
        max-width: 440px;
        h2{
            font-size: 18px;
            line-height: 24px;
            font-weight: 700;
            text-transform: uppercase;
            margin: 0 0 20px;
        }
        p{
            font-size: 14px;
            line-height: 24px;
        }
    }
    .content-one{
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h2{
            font-size: 18px;
            line-height: 24px;
            font-weight: 700;
            text-transform: uppercase;
            margin: 0 0 20px;
        }
        p{
            font-size: 14px;
            line-height: 24px;
        }
        a{
            font-weight: 700;
            text-decoration: underline !important;
        }
    }
    .content-two{
        .ct-image{
            text-align: center;
            img{
                max-width: 450px;
                width: 100%;
            }
        }
    }
    .about-promise{
        padding: 0 8%;
        > h2{
            font-size: 20px;
            font-weight: 700;
            padding: 0 0 60px;
        }
    }
    .promise-section{
        display: flex;
        flex-wrap: nowrap;
        .promise-image{
            width: 87px;
            min-width: 87px;
            padding: 0 15px 0 0;
        }
        .promise-content{
            max-width: 360px;
            width: 100%;
            min-height: 260px;
            h2{
                font-size: 16px;
                font-weight: 700;
                text-transform: uppercase;
                margin: 0 0 15px;
                text-align: left;
            }
            p{
                font-size: 14px;
            }
        }
    }
}

.about-items{
    li{
        padding: 0;
        font-weight: 700;
    }
}
@media screen and (max-width:899px) {
    .aboutus-content{
        .promise-section{
            .promise-content{
                max-width: inherit;
                min-height: inherit;
            }
        }
    }
}
@media screen and (max-width:599px) {
    .aboutus-content{
        .about-promise{
            padding: 0;
            > h2{
                padding: 0 0 20px;
            }
        }
        .promise-section{
            flex-wrap: wrap;
            justify-content: center;
            text-align: center;
            .promise-image{
                padding:0 0 10px;
            }
            .promise-content{
                h2{
                    text-align: center;
                }
            }
        }
    }
    .content-three{
        .content-left{
            order: 2;
        }
    }
}