.aboutus-content{
    padding: 0 20px;
    .about-banner{
       text-align: center;
       padding: 20px 0 0;
    }
    .banner-content{
        padding: 30px 50px;
        text-align: center;
        font-size: 18px;
        line-height: 24px;
    }
    .grid-content{
        max-width: 440px;
        h2{
            font-size: 18px;
            line-height: 24px;
            font-weight: 700;
            text-transform: uppercase;
            margin: 0 0 20px;
        }
        p{
            font-size: 14px;
            line-height: 24px;
        }
    }
    .content-one{
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h2{
            font-size: 18px;
            line-height: 24px;
            font-weight: 700;
            text-transform: uppercase;
            margin: 0 0 20px;
        }
        p{
            font-size: 14px;
            line-height: 24px;
        }
        a{
            font-weight: 700;
            text-decoration: underline;
        }
    }
    .content-two{
        .ct-image{
            text-align: center;
            img{
                max-width: 450px;
            }
        }
    }
      
     .dot-key-section{
        width: 100%;
        max-width: 1220px;
        margin: 0 auto;
        h2{
            text-align: center;
            font-weight: 700;
            font-size: 20px;
            line-height: 26px;
            margin-bottom: 60px;
        }
        .promise-container{
            display: flex;
            align-items: center;
            .promise-box{
                display: flex;
                width: 50%;
                float: left;
                padding-left: 90px;
                margin: 20px 0;
                .promise-txt{
                    max-width: 360px;
                    width: 100%;
                    // min-height: 260px;
                    padding-left: 20px;
                    h3{
                        font-size: 16px;
                        line-height: 22px;
                        font-weight: 700;
                        padding: 0;
                        margin: 0 0 20px 0;
                    }
                    p{
                        font-size: 14px;
                        line-height: 20px;
                        padding: 0;
                        margin: 0 0 20px 0;
                    }
                }
            }
        }
    }
    .about-promise{
        padding: 0 5%;
        > h2{
            font-size: 20px;
            font-weight: 700;
        }
    }
    .promise-section{
        display: flex;
        flex-wrap: nowrap;
        .promise-image{
            width: 87px;
            min-width: 87px;
            padding: 0 15px 0 0;
        }
        .promise-content{
            h2{
                font-size: 16px;
                font-weight: 700;
                text-transform: uppercase;
                margin: 0 0 15px;
            }
            p{
                font-size: 14px;
            }
        }
    }
}

.about-items{
    li{
        padding: 0;
        font-weight: 700;
    }
}
@media screen and (max-width:599px) {
    .about-promise{
        padding: 0;
    }
    .aboutus-content{
        .promise-section{
            flex-wrap: wrap;
            justify-content: center;
            text-align: center;
            .promise-image{
                padding:0 0 10px;
            }
        }
    }
}