.home-top-slider{
  padding: 0 0 80px;
  .slider {
    &.slick-initialized{
      width: 100% !important;
    }
    .slick-prev,.slick-next{
      z-index: 9;
    }
    .slick-prev{
      left:10px
    }
    .slick-next{
      right: 10px;
    }
    img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    }
  }
}