.login-singup-container{
    width: 100%;
    max-width: 75%;
    margin: 0 auto;
    text-align: center;
    .row{
        display: flex;
        align-items: center;
        width: 100%;
        .column{
            width: 50%;
            .facebook-button{
                padding-bottom: 20px;
            }
        }
    }
}