@import '../../common.scss';
.best-sellers{
    margin:0 12%;
    margin-bottom: 3%;
    .slick-slider.slick-initialized{
        width: auto !important;
    }
    .categories-listing{
        list-style: none;
        margin: 0;
        padding: 20px 0 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        li{
            padding: 2px 8px;
            text-transform: uppercase;
            border-right:2px solid $categorygrey;
            a{
                font-size: 18px;
                font-weight: 500;
                color: $categorygrey;
                line-height: 18px;
                &.active{
                    color: $categoryred;
                }
            }
            &:last-child{
                border: none;
            }
        }
    }
}
@media screen and (max-width:899px) {
    .best-sellers{
        margin:0 5%;
        margin-bottom: 3%;
    }
}
@media screen and (max-width:599px) {
    .best-sellers{
        margin:0 3%;
        margin-bottom: 3%;
    }
}  