@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700');
@import './common.scss';
a{
    text-decoration: none !important;
}
.container{
    max-width: 1300px;
    margin:0 auto;
}
