@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700');
@import './common.scss';
body{
    color: #3c3c3c;
}
:focus-visible{
    outline: none;
}
img{
    max-width: 100%;
    &:focus{
        outline: none;
    }
}
.container{
    max-width: 1300px;
    margin:0 auto;
}
