$textcolor:#3c3c3c;
$titlecolor:#000;
$ratingcolor:#FFCE51;
$blue:#0000ff;
$red:#ff6781;
$categorygrey:#919191;
$categoryred:#ce2029;
$verifiedblue:#2196f3;
$secondarytext:#636363;
$greycolor:#808080;
$whitecolor:#fff;
$bordergrey:#c7c7c7;