@import '../../common.scss';
.top-banner{
    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    
}
.listing-container{
    /* For Tablet View */
    @media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
        display: block;
    }
    /* For Mobile Phones Portrait or Landscape View */
    @media screen and (max-device-width: 767px)  {
        display: block;
    }
    .filter-container{
        padding: 50px 15px;
        .filter-header{
            font-weight: 600;
            text-align: center;
            padding-bottom: 20px;
        }
        .filter-dropdown{
            width: 100%;
            max-width: 900px;
            margin: auto;
            ul{
                display: flex;
                overflow: auto;
                position: relative;
                margin: 0;
                padding: 0 0 1px;
                list-style: none;
                li{
                    min-width: fit-content;
                    margin: 10px 10px 2px 0;
                    text-align: center;
                    background: #e9e9e9;
                    border-radius: 3px;
                    padding: 12px 40px;
                    display: block;
                    text-transform: capitalize;
                    border: 1px solid #000;
                    font-weight: 600;
                    color: #000;
                    cursor: pointer;
                }
                &::-webkit-scrollbar {
                    width: .25rem;
                    height: .25rem;
                }
                
                /* Track */
                &::-webkit-scrollbar-track {
                    background: #f5f5f5;
                }
                
                /* Handle */
                &::-webkit-scrollbar-thumb {
                    background: #b1b1b1;
                }
                
                /* Handle on hover */
                &::-webkit-scrollbar-thumb:hover {
                    background: #b1b1b1;
                }
            }
        }
    }
    .card-container{
        width: 100%;
        margin:0 0 4%;
        @media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
            width: 100%;
            margin: 0 auto;
        }
        /* For Mobile Phones Portrait or Landscape View */
        @media screen and (max-device-width: 767px)  {
            width: 100%;
        }
       .listing-card{
            /* For Tablet View */
            @media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
            }
             /* For Mobile Phones Portrait or Landscape View */
            @media screen and (max-device-width: 767px)  {
            }
       }
    }
}
.product-listing{
    text-align: center;
    .product-title{
        font-size: 13px;
        font-weight: 500;
        text-transform: uppercase;
        height: 32px;
    }
    .product-image{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .product-rating{
        font-size: 13px;
        .rating{
            padding: 0 5px;
        }
        .count{
            color:$blue;
        }
    }
    .product-desc{
        color: $secondarytext;
        text-transform: uppercase;
        font-size: 12px;
    }
    .actual-amt{
        text-decoration: line-through;
        font-size: 13px;
        color:$greycolor ;
    }
    .discounted-amt{
        font-size:13px;
        color:$red;
    }
}