@import '../../common.scss';
.header{
    border-bottom: 1px solid #c3c3c3;
    padding: 12px 0;
}
.logo{
    display: flex;
}
.myaccount{
    a{
        font-weight: 700;
        color: $textcolor;
    }
}
.topheader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo-nav{
        display: flex;
        align-items: center;
    }
    .header-nav{
        list-style: none;
        display: flex;
        align-items: center;
        li{
            font-size: 15px;
            font-weight: 500;
            padding: 0 5px;
            text-transform: uppercase;
            a{
                color: $textcolor;
            }
        }
    }
}