.watch-it{
    margin:0 12%;
    margin-bottom: 1%;
    .slick-slider.slick-initialized{
        width: auto !important;
        padding: 3% 0 0;
        .slick-list{
            .slick-track{
                display: flex;
                justify-content: center;
            }
        }
        .listing-outer{
            padding: 0 5px;
            .product-listing{
                max-width: 190px;
            }
        }
    }
}