.watch-it{
    margin:0 12%;
    margin-bottom: 1%;
    .slick-slider.slick-initialized{
        width: auto !important;
        padding: 3% 0 0;
        .slick-list{
            .slick-track{
                display: flex;
                justify-content: center;
            }
        }
        .listing-outer{
            padding: 0 5px;
            .product-listing{
                max-width: 190px;
            }
        }
    }
}
@media screen and (max-width:1024px) {
    .watch-it{
        .slick-slider.slick-initialized{
            .listing-outer{
                .product-listing{
                    max-width: 100%;
                }
            }
        }
    }
}
@media screen and (max-width:899px) {
    .watch-it{
        margin:0 5%;
        margin-bottom: 2%;
    }
}